<div {{ attributes }}>
    <div class="ps-3 py-2 ">
        <button class="new-discussion-btn text-center" data-action="live#action" data-live-action-param="createDiscussion">Nouvelle Discussion</button>
    </div>

    <ul class="discussion-list list-unstyled">
        {% for discussion in this.discussions %}
            <li class="discussion-item">
            <span class="discussion-title">
            {% if this.discussionUid == discussion.uid %}
                <strong>{{ discussion.id }}. {{ discussion.title }}</strong>
        {% else %}
                {{ discussion.id }}. <a
                        href="{{ path("app_chat_index", {'discussionUid' : discussion.uid}) }}">{{ discussion.title }}</a>
                <span>
                        <button class="btn btn-sm" data-action="live#action" data-live-action-param="deleteDiscussion"
                                data-live-discussion-uid-param="{{ discussion.uid }}">
                            🗑️
                        </button>
                    </span>
                </span>
                </li>
            {% endif %}
        {% else %}
            <li class="no-discussions">No discussions available.</li>
        {% endfor %}
    </ul>
</div>