<div {{ attributes }}>
    <div class="ps-3 py-2 ">
        <button class="new-discussion-btn text-center">Nouvelle Discussion</button>
    </div>

    <ul class="discussion-list list-unstyled">
        {% for discussion in this.dicussions %}
            <li class="discussion-item" data-discussion-id="{{ discussion.id }}">
                <span class="discussion-title">
                    {{ discussion.id }}. <a
                            href="{{ path("app_chat_index", {'discussionId' : discussion.id}) }}">{{ discussion.title }}</a>
                    <span>
                        <button class="btn btn-sm" data-action="live#action" data-live-action-param="deleteDiscussion" data-live-discussion-id-param="{{ discussion.id }}">
                            🗑️
                        </button>
                    </span>
                </span>
            </li>
        {% else %}
            <li class="no-discussions">No discussions available.</li>
        {% endfor %}
    </ul>
</div>